@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Ubuntu:wght@500&display=swap');
body{
    background-color: rgb(41, 54, 70) !important;
}
.home{
    color: rgb(226, 228, 229);
    text-align: center;
    margin: auto;
}

.homehead{
    margin: 10% auto 2% auto;
    font-family: 'Ubuntu', sans-serif;
}

.homecontent{
    margin: 2% auto;
    font-family: 'Manrope', sans-serif;
}

.buttons{
    margin: 4%;
    font-family: 'Ubuntu', sans-serif;
}